/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

/* searchbar principale */
.barraRicerca {
  border: solid 1px;
}

/* bottone vai */
.bottoneVai {}

/* DEBUG:  */
div {
  border: solid 1px;
  margin: 10px;
}

/* .star1 {
  background-color: yellow;
} */
