/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

/* body */
body {
background-color: lightgrey;
}

/* DEBUG:  */
/* div {
  border: solid 1px;
} */


/* BARRA SOPRA: -------------------------------------------- */

/* searchbar principale */
.barraRicerca {
  border: solid red;
  height: 35px;
  font-size: 16px;
}

/* bottone vai */
.bottoneVai {
  width: 100px;
  height: 35px;
  border: solid red;
  font-weight: bold;
  font-size: 15px;
  /* omb bottone */
}

/* navigation */

.navigation {
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* MAIN: -------------------------------------------- */

.container {
  border: solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Singoli film */

.contenitoreFilm {
  display: flex;
  width: 185px;
  height: 280px;
  margin: 1.5%;
  position: relative;
}

.poster {
  position: absolute;
  height: 280px;
  width: 185px;
}

.dettagliFilm {
  /* font-weight: bold; */
  font-size: 14px;
  height: 280px;
  width: 185px;
  border: solid 1px black;
}

.trama {
  font-size: 9px;
  font-weight: normal;
  overflow-y: scroll;
}


/* HOVER------------- */

.poster:hover {
  opacity: 0.1;
  cursor: pointer;
  z-index: 0;
}

.poster:hover .trama{
  z-index: 10;
}


/* dettagli interni singoli film */

/* bandiere */
.flag {
  width: 10%;
}

.stelle {
  color: yellow;
}

ul {
  list-style-type: none;
}

/* Formattazione immagini */

.noposter {
  width: 185px;
  height: 280px;
  opacity: 0.2;
}

.yesposter {
  width: 185px;
  height: 280px;
}
