/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

/* body */
/* body {
  background-color: lightgrey;
} */

/* DEBUG:  */
div {
  border: solid 1px;
}


/* BARRA SOPRA: -------------------------------------------- */

/* searchbar principale */
.barraRicerca {
  border: solid 1px;
}

/* bottone vai */
.bottoneVai {}

/* navigation */

.navigation {
  width: 100%;
  height: 60px;
  background-color: grey;
}


/* MAIN: -------------------------------------------- */

/* bandiere */
.flag {
  width: 3%;
}

/* .stelle {
  color: yellow;
} */

ul {
  list-style-type: none;
}

.contenitoreFilm {
  display: flex;
}

/* .dettagliFilm {
  display: none;
} */

/* .poster:hover {
  opacity: 0.2; */
  cursor: pointer;
}  */

/* .poster:hover .dettagliFilm {
  display: block;
} */
